    html {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        overflow: auto;
    }
    
    body {
        font-family: 'myriad-pro', 'Myriad Pro', sans-serif;
        font-size: 25px;
        color: #000000;
        padding: 0;
        margin: 0;
        overflow: auto;
    }
    
    #container {
        max-width: 966px;
        margin-left: auto;
        margin-right: auto;
        padding: 58px;
    }
    
    #links p {
        padding: 0;
        margin: 3.2px;
        line-height: 1.3;
    }
    
    #links table {
        border-collapse: collapse;
        border: 0;
        margin: 0;
        margin-bottom: 2%;
    }
    
    #links table td {
        vertical-align: top;
        padding: 0;
        border: 0;
        margin: 0;
    }
    
    .menu {
        text-align: center;
        font-weight: bold;
        font-size: 32px;
    }
    
    .menu_01 {
        background-color: #000000;
        color: #ffffff;
    }
    
    .menu_02 {
        background-color: #FFFFFF;
        color: #000000;
    }
    
    .menu_03 {
        background-color: #000000;
        color: #ffffff;
    }
    
    .break {
        height: 10px;
    }
    
    .column {
        width: 20.8%;
        height: 500px;
    }
    
    .column:nth-child(1) {
        width: 16.2%;
    }
    
    .column:nth-child(2) {
        width: 16.5%;
    }
    
    .column:nth-child(3) {
        width: 16.5%;
    }
    
    .column:nth-child(4) {
        width: 17.2%;
    }
    
    .column:nth-child(5) {
        width: 16.8%;
    }
    
    .column_table {
        height: initial;
        width: 100%;
    }
    
    .title {
        background-color: rgba(47, 55, 180, 0.71);
        height: 42px;
    }
    
    .title .number {
        text-align: right;
        font-size: 13.4px;
        font-weight: bold;
        color: #FFF;
        max-width: 15px;
    }
    
    .title .text {
        text-align: left;
        font-size: 13.4px;
        font-weight: bold;
        color: #FFF;
        width: auto;
    }
    
    .number {
        text-align: right;
        font-size: 13.4px;
        font-weight: bold;
        max-width: 15px;
    }
    
    .link {
        font-size: 13.4px;
        width: auto;
    }
    
    a {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }
    
    a:visited {
        color: #000;
    }
    
    a:hover {
        color: #999;
    }
    
    a:active {
        color: #000000;
    }
    
    .menu_01 {
        background-color: #00A4C0;
    }
    
    .title6 {
        height: 42px;
    }
    
    .title7 {
        height: 26px;
    }
    
    .trLarandemal1 {
        position: absolute;
        left: 26%;
    }
    
    .trLarandemal2 {
        position: absolute;
        left: 26%;
    }
    
    .trLarandemal3 {
        position: absolute;
        left: 26%;
    }
    
    .trLarandemal4 {
        position: absolute;
        left: 26%;
    }
    
    .trLarandemal5 {
        position: absolute;
        left: 26%;
    }
    
    .trLarandemal6 {
        position: absolute;
        left: 26%;
        z-index: 3;
    }
    
    @-moz-document url-prefix() {
        /*CSS only for Firefox*/
        #links p {
            line-height: 1.07;
        }
    }
    
    @media (device-width: 1024px) and (device-height: 768px) {
        #container {
            max-width: 618px;
            padding: 43px;
        }
        .title .text,
        .title .number,
        .number {
            font-size: 10.7px;
        }
        .title6,
        .title {
            height: 40px;
        }
        .title7 {
            height: 23px;
        }
        .link {
            font-size: 10.7px;
        }
        .menu {
            font-size: 20px;
            line-height: 28px;
        }
        .break {
            height: 0px;
        }
        #links p {
            margin: 3px;
            line-height: 1;
        }
        .column {
            width: 19%;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.1;
            }
        }
    }
    
    @media (device-width: 1280px) and (device-height: 720px) {
        #container {
            max-width: 772px;
            margin-left: 15.4%;
            padding-top: 42px;
        }
        .title .text,
        .title .number {
            font-size: 10.7px;
        }
        .title6,
        .title {
            height: 35px;
        }
        .title7 {
            height: 23px;
        }
        .link,
        .number {
            font-size: 10.7px;
        }
        .menu {
            font-size: 20px;
        }
        .break {
            height: 2.3px;
        }
        #links p {
            margin: 3.2px;
            line-height: 1.2;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.03;
            }
        }
    }
    
    @media (device-width: 1280px) and (device-height: 800px) {
        #container {
            max-width: 772px;
            padding: 0px;
            padding-top: 47px;
        }
        .title .text,
        .title .number {
            font-size: 0.455em;
        }
        .title6,
        .title {
            height: 32px;
        }
        .title7 {
            height: 23px;
        }
        .link,
        .number {
            font-size: 0.455em;
        }
        .menu {
            font-size: 23px;
            line-height: 32px;
        }
        .break {
            height: 2px;
        }
        #links p {
            margin: 3.51px;
            line-height: 1;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.1;
                margin-bottom: 3.5px;
                margin-top: 3.5px;
            }
        }
    }
    
    @media (device-width: 1280px) and (device-height: 960px) {
        #container {
            max-width: 772px;
            padding: 0px;
            padding-top: 55px;
        }
        .title .text,
        .title .number {
            font-size: 0.465em;
        }
        .title6,
        .title {
            height: 40px;
        }
        .title7 {
            height: 23px;
        }
        .link,
        .number {
            font-size: 0.46em;
        }
        .menu {
            font-size: 23px;
            line-height: 32px;
        }
        .break {
            height: 2px;
        }
        #links p {
            margin: 5px;
            line-height: 1.2;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.1;
                margin-bottom: 3.5px;
                margin-top: 3.5px;
            }
            .title {
                height: 45px;
            }
            .title7 {
                height: 23px;
            }
        }
    }
    
    @media (device-width: 1280px) and (device-height: 1024px) {
        #container {
            max-width: 772px;
            padding: 0px;
            padding-top: 58px;
        }
        .title .text,
        .title .number {
            font-size: 0.465em;
        }
        .title6,
        .title {
            height: 40px;
        }
        .title7 {
            height: 23px;
        }
        .link,
        .number {
            font-size: 0.46em;
        }
        .menu {
            font-size: 23px;
            line-height: 32px;
        }
        .break {
            height: 2px;
        }
        #links p {
            margin: 5px;
            line-height: 1.3;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.2;
                margin-bottom: 5.5px;
                margin-top: 5.5px;
                margin-left: 2px;
            }
            .title {
                height: 45px;
            }
            .title7 {
                height: 23px;
            }
        }
    }
    
    @media (device-width: 1366px) and (device-height: 768px) {
        #container {
            max-width: 824px;
            padding-top: 44px;
        }
        .title .text,
        .title .number {
            font-size: 11.5px;
            line-height: 17px;
        }
        .title6,
        .title {
            height: 35px;
        }
        .title7 {
            height: 26px;
        }
        .link,
        .number {
            font-size: 11.5px;
        }
        .menu {
            font-size: 21px;
            line-height: 28px;
        }
        .break {
            height: 2.6px;
        }
        #links p {
            margin: 3px;
            margin-top: 3px;
            margin-bottom: 3px;
            line-height: 1.2;
        }
        .column {
            height: 410px;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.35;
                margin-bottom: auto;
            }
            #links table:nth-of-type(2) {
                margin-top: 2px;
            }
        }
    }
    
    @media (device-width: 1440px) and (device-height: 900px) {
        #container {
            max-width: 872px;
            padding-top: 53px;
        }
        .title .text,
        .title .number {
            font-size: 12.2px;
            line-height: 18px;
        }
        .title6,
        .title {
            height: 40px;
        }
        .title7 {
            height: 30px;
        }
        .link,
        .number {
            font-size: 11.6px;
        }
        .menu {
            font-size: 24px;
            line-height: 39px;
        }
        .break {
            height: 2.6px;
        }
        #links p {
            margin: 4.4px;
            margin-top: 4px;
            margin-bottom: 4px;
            line-height: 1.2;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.37;
                margin-bottom: auto;
            }
            #links table:nth-of-type(2) {
                margin-top: 4px;
            }
        }
    }
    
    @media (device-width: 1680px) and (device-height: 1050px) {
        #container {
            max-width: 1014px;
            padding-top: 62px;
        }
        .title .text,
        .title .number {
            font-size: 14.5px;
            line-height: 18px;
        }
        .title6,
        .title {
            height: 45px;
        }
        .title7 {
            height: 30px;
        }
        .link,
        .number {
            font-size: 14.5px;
        }
        .menu {
            font-size: 26px;
            line-height: 45px;
        }
        .break {
            height: 2.6px;
        }
        #links p {
            margin: 4.4px;
            margin-top: 4px;
            margin-bottom: 4px;
            line-height: 1.2;
        }
        .column {
            height: 700px;
            width: 11.9%;
        }
        .column:nth-child(1) {
            width: 11.5%;
        }
        .column:nth-child(2) {
            width: 12.5%;
        }
        .column:nth-child(3) {
            width: 12.5%;
        }
        .column:nth-child(4) {
            width: 12.5%;
        }
        .column:nth-child(5) {
            width: 12.5%;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.27;
                margin-bottom: auto;
            }
            #links table:nth-of-type(2) {
                margin-top: 4px;
            }
        }
    }
    
    @media (device-width: 1920px) and (device-height: 1080px) {
        #container {
            max-width: 1161px;
            padding-top: 62px;
        }
        .title .text,
        .title .number {
            font-size: 15.2px;
            line-height: 18px;
        }
        .title6,
        .title {
            height: 45px;
        }
        .title7 {
            height: 30px;
        }
        .link,
        .number {
            font-size: 15.2px;
        }
        .menu {
            font-size: 26px;
            line-height: 45px;
        }
        .break {
            height: 2.6px;
        }
        #links p {
            margin: 4.4px;
            margin-top: 4px;
            margin-bottom: 4px;
            line-height: 1.2;
        }
        .column {
            height: 608px;
            width: 11.9%;
        }
        .column:nth-child(1) {
            width: 11.5%;
        }
        .column:nth-child(2) {
            width: 12.5%;
        }
        .column:nth-child(3) {
            width: 12.5%;
        }
        .column:nth-child(4) {
            width: 12.5%;
        }
        .column:nth-child(5) {
            width: 12.5%;
        }
        @-moz-document url-prefix() {
            #links p {
                line-height: 1.37;
                margin-bottom: auto;
            }
            #links table:nth-of-type(2) {
                margin-top: 4px;
            }
        }
    }
    /* ----------- iPad mini ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}
    /* Portrait */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
        #canvas.wof {
            height: 45%;
            width: 83%;
            left: 0%;
        }
    }
    /* Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
        #canvas.wof {
            height: 100%;
            width: 100%;
            left: 10%;
        }
    }
    /* ----------- iPad 1 and 2 ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}
    /* Portrait */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}
    /* Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}
    /* ----------- iPad 3 and 4 ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {}
    /* Portrait */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {}
    /* Landscape */
    
    @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {}
    /* ----------- Galaxy Tab 10.1 ----------- */
    /* Portrait and Landscape */
    
    @media (min-device-width: 800px) and (max-device-width: 1280px) {}
    /* Portrait */
    
    @media (max-device-width: 800px) and (orientation: portrait) {}
    /* Landscape */
    
    @media (max-device-width: 1280px) and (orientation: landscape) {}
    /* ----------- Asus Nexus 7 ----------- */
    /* Portrait and Landscape */
    
    @media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {}
    /* Portrait */
    
    @media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {}
    /* Landscape */
    
    @media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {}
    /* ----------- Kindle Fire HD 7" ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {}
    /* Portrait */
    
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {}
    /* Landscape */
    
    @media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {}
    /* ----------- Kindle Fire HD 8.9" ----------- */
    /* Portrait and Landscape */
    
    @media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) {}
    /* Portrait */
    
    @media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {}
    /* Landscape */
    
    @media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {}
    /* ----------- Non-Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}
    /* ----------- Retina Screens ----------- */
    
    @media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}
