html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: auto;
}

body {
    font-family: 'myriad-pro', 'Myriad Pro', sans-serif;
    font-size: 25px;
    color: #000000;
    padding: 0;
    margin: 0;
    overflow: auto;
}

#container {
    max-width: 966px;
    margin-left: auto;
    margin-right: auto;
    padding: 58px;
}

#links p {
    padding: 0;
    margin: 4px;
}

#links table {
    border-collapse: collapse;
    border: 0;
    margin: 0;
}

#links table td {
    vertical-align: top;
    padding: 0;
    border: 0;
    margin: 0;
}

.menu {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
}

.menu_01 {
    background-color: #000000;
    color: #ffffff;
}

.menu_02 {
    background-color: #FFFFFF;
    color: #000000;
}

.menu_03 {
    background-color: #000000;
    color: #ffffff;
}

.break {
    height: 10px;
}

.column {
    width: 20%;
    height: 500px;
}

.column_table {
    width: 100%;
}

.title {
    background-color: rgba(47, 55, 180, 0.71);
    height: 45px;
}

.title .number {
    text-align: right;
    font-size: 13.4px;
    font-weight: bold;
    color: #FFF;
    max-width: 15px;
}

.title .text {
    text-align: left;
    font-size: 13.4px;
    font-weight: bold;
    color: #FFF;
    width: auto;
}

.number {
    text-align: right;
    font-size: 13.4px;
    font-weight: bold;
    max-width: 15px;
}

.link {
    font-size: 13.4px;
    width: auto;
}

a {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

a:visited {
    color: #000;
}

a:hover {
    color: #999;
}

a:active {
    color: #000000;
}

.menu_01 {
    background-color: #00A4C0;
}

.title6 {
    height: 26px;
}

.title7 {
    height: 26px;
}

.trLarandemal1 {
    position: absolute;
    left: 27%;
    top: 173%;
}

.trLarandemal2 {
    position: absolute;
    left: 27%;
    top: 121.3%;
}

.trLarandemal3 {
    position: absolute;
    left: 27%;
    top: 121.5%;
}

.trLarandemal4 {
    position: absolute;
    left: 27%;
    top: 123.8%;
}

.trLarandemal5 {
    position: absolute;
    left: 27%;
    top: 548.5%;
}

@-moz-document url-prefix() {
    /*CSS only for Firefox*/
    #links p {
        line-height: 1.07;
    }
}

@media (device-width: 1024px) and (device-height: 768px) {
    #container {
        max-width: 618px;
        padding: 43px;
    }
    .title .text,
    .title .number,
    .number {
        font-size: 10.7px;
    }
    .link {
        font-size: 10.7px;
    }
    .menu {
        font-size: 20px;
        line-height: 28px;
    }
    .break {
        height: 0px;
    }
    #links p {
        margin: 3.3px;
    }
    .column {
        height: 405px;
    }
    .ieedge .link {
        font-size: 10.2px;
    }
    .ieedge .column {
        height: 398px;
    }
    .ie11 .column {
        height: 398px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.1;
        }
    }
}

@media (device-width: 1280px) and (device-height: 720px) {
    #container {
        max-width: 772px;
        margin-left: 15.4%;
        padding-top: 42px;
    }
    .title .text,
    .title .number {
        font-size: 10.7px;
    }
    .link,
    .number {
        font-size: 10.7px;
    }
    .menu {
        font-size: 20px;
    }
    .break {
        height: 2.3px;
    }
    #links p {
        margin: 3.2px;
    }
    .column {
        height: 376px;
    }
    .ieedge .column {
        height: 365px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.03;
        }
    }
}

@media (device-width: 1280px) and (device-height: 800px) {
    #container {
        max-width: 772px;
        padding-top: 47px;
    }
    .title .text,
    .title .number {
        font-size: 0.455em;
    }
    .link,
    .number {
        font-size: 0.4719em;
    }
    .menu {
        font-size: 23px;
        line-height: 32px;
    }
    .break {
        height: 2px;
    }
    #links p {
        margin: 3.51px;
    }
    .column {
        height: 420px;
    }
    .ieedge .column {
        height: 405px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.1;
            margin-bottom: 3.5px;
            margin-top: 3.5px;
        }
    }
}

@media (device-width: 1280px) and (device-height: 960px) {
    #container {
        max-width: 772px;
        padding-top: 56px;
    }
    .column {
        height: 527px;
    }
    .title .text,
    .title .number {
        font-size: 0.5em;
    }
    .link,
    .number {
        font-size: 0.5em;
    }
    .menu {
        font-size: 23px;
        line-height: 32px;
    }
    .break {
        height: 2px;
    }
    #links p {
        margin: 5px;
    }
    .title {
        height: 53px;
    }
    .title6 {
        height: 30px;
    }
    .ieedge .column {
        height: 518px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.1;
            margin-bottom: 3.5px;
            margin-top: 3.5px;
        }
    }
}

@media (device-width: 1280px) and (device-height: 1024px) {
    #container {
        max-width: 772px;
        padding-top: 63px;
    }
    .column {
        height: 563px;
    }
    .title .text,
    .title .number {
        font-size: 0.5em;
    }
    .link,
    .number {
        font-size: 0.5em;
    }
    .menu {
        font-size: 23px;
        line-height: 37px;
    }
    .break {
        height: 2px;
    }
    #links p {
        margin: 5.7px;
    }
    .title {
        height: 53px;
    }
    .title6 {
        height: 30px;
    }
    .ieedge .column {
        height: 555px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.1;
            margin-bottom: 3.5px;
            margin-top: 3.5px;
        }
    }
}


/*1280 X 1050*/

@media(device-width:1280px) and (device-height:1050px) {
    #container {
        max-width: 772px;
        padding-top: 63px;
        margin-left: 15.5%;
        padding: 58px;
    }
    .title .text,
    .title .number {
        font-size: 13.5px;
        line-height: 18px;
    }
    .title {
        height: 65px;
    }
    .column {
        height: 561px;
    }
    .link,
    .number {
        font-size: 12.4px;
    }
    .menu {
        font-size: 33px;
        line-height: 55px;
    }
    .title6 {
        height: 30px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .ieedge .trLarandemal5 {
        top: 470%;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
    }
}

@media (device-width: 1366px) and (device-height: 768px) {
    #container {
        max-width: 824px;
        padding-top: 44px;
    }
    .title .text,
    .title .number {
        font-size: 11.7px;
        line-height: 17px;
    }
    .link,
    .number {
        font-size: 12.1px;
    }
    .menu {
        font-size: 21px;
        line-height: 25px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 2.8px;
    }
    .column {
        height: 405px;
    }
    .ieedge .column {
        height: 395px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
    }
}

@media (device-width: 1440px) and (device-height: 900px) {
    #container {
        max-width: 872px;
        padding-top: 53px;
    }
    .title .text,
    .title .number {
        font-size: 12.2px;
        line-height: 18px;
    }
    .link,
    .number {
        font-size: 13.4px;
    }
    .menu {
        font-size: 24px;
        line-height: 39px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .column {
        height: 477px;
    }
    .ieedge .column {
        height: 470px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.37;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 4px;
        }
    }
}


/*1600 X 1200*/

@media(device-width:1600px) and (device-height:1200px) {
    #container {
        max-width: 962px;
        padding-top: 110px;
    }
    .title .text,
    .title .number {
        font-size: 13.5px;
        line-height: 18px;
    }
    .column {
        /*width: 690px;*/
        height: 652px;
    }
    .link,
    .number {
        font-size: 14.8px;
    }
    .menu {
        font-size: 37px;
        line-height: 39px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .ieedge .title {
        height: 62px;
    }
    .ieedge .title6 {
        height: 30px;
    }
    .ieedge .column {
        height: 630px;
    }
    @-moz-document url-prefix() {
        #container {
            padding-top: 94px;
        }
        .title {
            height: 55px;
        }
        /* font-size: 17.5px;*/
        .title .text,
        .title .number {
            font-size: 14.5px;
            line-height: 22px;
        }
    }
}


/*1600 X 900*/

@media(device-width:1600px) and (device-height:900px) {
    .column {
        height: 480px;
    }
    .ieedge .column {
        height: 468px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
        .column {
            height: 470px;
        }
    }
}

@media (device-width: 1680px) and (device-height: 1050px) {
    #container {
        max-width: 1020px;
        padding-top: 60px;
    }
    .title .text,
    .title .number {
        font-size: 13.2px;
        line-height: 18px;
    }
    .title {
        height: 50px;
    }
    .title6 {
        height: 30px;
    }
    .link,
    .number {
        font-size: 14.4px;
    }
    .menu {
        font-size: 24px;
        line-height: 39px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 6px;
    }
    .column {
        width: 16.8%;
        height: 580px;
    }
    .ieedge .column {
        height: 570px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.35;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 2px;
        }
    }
}

@media (device-width: 1920px) and (device-height: 1080px) {
    #container {
        max-width: 1160px;
        padding-top: 60px;
    }
    .title .text,
    .title .number {
        font-size: 16.2px;
        line-height: 18px;
    }
    .link,
    .number {
        font-size: 16.4px;
    }
    .menu {
        font-size: 32px;
        line-height: 50px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .column {
        width: 17.1%;
        height: 590px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.37;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 4px;
        }
    }
}


/*1920 X 1200*/

@media (device-width: 1920px) and (device-height: 1200px) {
    #container {
        max-width: 1160px;
        padding-top: 60px;
    }
    .title .text,
    .title .number {
        font-size: 17.2px;
        line-height: 18px;
    }
    .link,
    .number {
        font-size: 17.4px;
    }
    .menu {
        font-size: 34px;
        line-height: 75px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
        margin: 4.4px;
    }
    .title {
        height: 66px;
    }
    .title6 {
        height: 30px;
    }
    .column {
        height: 661px;
    }
    .ieedge .column {
        height: 646px;
    }
    @-moz-document url-prefix() {
        #links p {
            line-height: 1.37;
            margin-bottom: auto;
        }
        #links table:nth-of-type(2) {
            margin-top: 4px;
        }
    }
}
    @media (device-width: 2560px) and (device-height: 1440px) {
    #container {
        max-width: 100%;
        margin-left: 17.6%;
        margin-top: 2%;
    }
    .title .text,
    .title .number {
        /*font-size: 17.2px;*/
        font-size: 20.5px;
        line-height: 25px;
    }
    .link {
        /*font-size: 17.4px;*/
            font-size: 19px;
    }
    .number {
        /*font-size: 17.4px;*/
            font-size: 18px;
    }
    .menu {
        font-size: 46px;
        line-height: 75px;
    }
    .break {
        height: 2.6px;
    }
    #links p {
       /* margin: 4.4px;*/
       margin: 8.4px;
    }
    .title {
        height: 66px;
    }
    .title6 {
        height: 30px;
    }
    .column {
        height: 770px;
        /*width: 16.6%;;*/
        width: 19%;
    }
}


/* ----------- iPad mini ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
    #canvas.wof {
        height: 45%;
        width: 83%;
        left: 0%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
    #canvas.wof {
        height: 100%;
        width: 100%;
        left: 10%;
    }
}


/* ----------- iPad 1 and 2 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 1) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    #container {
        max-width: 465px;
        padding: 38px;
    }
    .title .text,
    .title .number,
    .number {
        font-size: 9.3px;
    }
    .link {
        font-size: 9.3px;
    }
    .menu {
        font-size: 16px;
        line-height: 21px;
    }
    .break {
        height: 0px;
    }
    #links p {
        margin: 2.2px;
    }
    .column {
        height: 380px;
    }
    .title {
        height: 40px;
    }
    .title6 {
        height: 22px;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    #container {
        max-width: 618px;
        padding: 43px;
    }
    .title .text,
    .title .number,
    .number {
        font-size: 10.5px;
    }
    .link {
        font-size: 10.5px;
    }
    .menu {
        font-size: 20px;
        line-height: 28px;
    }
    .break {
        height: 0px;
    }
    #links p {
        margin: 2.2px;
    }
    .column {
        width: 17%;
        height: 437px;
    }
    .title {
        height: 48px;
    }
    .title6 {
        height: 30px;
    }
}


/* ----------- Galaxy Tab 10.1 ----------- */


/* Portrait and Landscape */

@media (min-device-width: 800px) and (max-device-width: 1280px) {}


/* Portrait */

@media (max-device-width: 800px) and (orientation: portrait) {}


/* Landscape */

@media (max-device-width: 1280px) and (orientation: landscape) {}


/* ----------- Asus Nexus 7 ----------- */


/* Portrait and Landscape */

@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) {}


/* Portrait */

@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: portrait) {}


/* Landscape */

@media screen and (device-width: 601px) and (device-height: 906px) and (-webkit-min-device-pixel-ratio: 1.331) and (-webkit-max-device-pixel-ratio: 1.332) and (orientation: landscape) {}


/* ----------- Kindle Fire HD 7" ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) {}


/* Portrait */

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 800px) and (max-device-width: 1280px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {}


/* ----------- Kindle Fire HD 8.9" ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) {}


/* Portrait */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: portrait) {}


/* Landscape */

@media only screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1.5) and (orientation: landscape) {}


/* ----------- Non-Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {}


/* ----------- Retina Screens ----------- */

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {}
