@font-face {
    font-family: UusiTekstausMajema;
    src: url('../files/lib/fonts/UusiTekstausMajema.otf');
}

@font-face {
    font-family: UusiTekstausMajema;
    font-weight: Bold;
    src: url('../files/lib/fonts/UusiTekstausMajema-Bold.otf');
}

@font-face {
    font-family: Myriad Pro;
    src: url('../files/lib/fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: Myriad Pro;
    font-weight: bold;
    src: url('../files/lib/fonts/MyriadPro-Bold.otf');
}

@font-face {
    font-family: Epic Awesomeness;
    font-weight: bold;
    src: url('../files/lib/fonts/EpicAwesomeness.otf');
}

@font-face {
    font-family: 'iioppi_ikonitregular';
    src: url('fonts/icons.eot');
    src: url('fonts/icons.eot?#iefix') format('embedded-opentype'), url('fonts/icons.woff') format('woff'), url('fonts/icons.ttf') format('truetype'), url('fonts/icons.svg#iioppi_ikonitregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    -webkit-overflow-scrolling: no;
    -ms-touch-action: none;
    touch-action: none;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'myriad-pro', 'Myriad Pro', sans-serif;
}

.page {
    position: absolute;
    left: 0;
    -webkit-transition: left .25s ease-in-out;
    -moz-transition: left .25s ease-in-out;
    -o-transition: left .25s ease-in-out;
    transition: left .25s ease-in-out;
}

.invisible
{
    visibility: hidden!important;
}
.pageContent {
    width: 100%;
    height: 100%;
    border: none;
    background-color: white;
    display: block;
}

#preloader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -20px;
    margin-top: -20px;
    display: none;
    padding: 10px;
   background-color: #e6e6e6;
    border: 1px solid #999999;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#preloader img {
    display: block;
}

.logo {
    position: absolute;
    left: 25px;
    top: 15px;
    width: auto;
    height: 35px;
    display: block;
}

.logo_brandOK {
    position: absolute;
    right: 100px;
    top: 0;
    width: auto;
    height: 35px;
    display: block;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toolbarButton {
    cursor: pointer;
    display: inline-block;
    float: none;
    vertical-align: top;
    width: 40px;
    /* height: 35px; */
    line-height: 35px;
    font-family: sans-serif;
    font-weight: normal;
    font-size: 20px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    text-align: center;
    /* display: none; */
}

.no-touch .toolbarButton:not(.selected):not(.disabled):hover,
.toolbarButton:not(.selected):not(.disabled).hover {
    color: rgb(50, 50, 50);
}

.toolbarButton.selected {
    cursor: default;
    /* background-color: rgb(255,255,255); */
    color: rgb(21, 100, 164);
}

.toolbarButton.disabled {
    cursor: default;
    opacity: 0.5;
    color: rgb(102, 102, 102);
}

.toolbarLinks {
    width: auto;
    text-align: center;
    position: absolute;
    top: 70px;
}

.toolbarLink {
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    color: rgb(102, 102, 102);
    text-decoration: none;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

.no-touch .toolbarLink:not(.selected):not(.disabled):hover,
.toolbarLink:not(.selected):not(.disabled).hover {
    color: rgb(50, 50, 50);
}

.toolbarLink.selected {
    cursor: default;
    background-color: rgb(255, 255, 255);
}

.toolbarLink.disabled {
    cursor: default;
    opacity: 0.5;
}

.bar .seperator {
    display: none;
    float: none;
    vertical-align: top;
    width: 0;
    height: 35px;
    border: 0;
    border-left: 1px solid rgb(185, 185, 185);
    border-right: 1px solid rgb(240, 240, 240);
}

.bar {
    position: absolute;
    left: 0;
    right: 0;
    height: 35px;
    background-color: #E3E3E3;
    border: 1px solid #D7D7D7;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, .5);
    -webkit-transition: left .25s ease-in-out;
    -moz-transition: left .25s ease-in-out;
    -o-transition: left .25s ease-in-out;
    transition: left .25s ease-in-out;
}

#toolbar,
#tools_menu {
    top: 0;
    border-top: none;
}

#toolbar_bottom {
    bottom: 0;
    border-bottom: none;
    display: none!important;
}

#toolbar .features {
    position: absolute;
    top: 10px;
    width: 100%;
}

.navigation.left {
    height: 35px;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation.right {
    height: 35px;
    position: absolute;
    top: 0;
    right: 0;
}

#toolbar,
#toolbar_bottom {
    display: none;
}

.mobile #toolbar,
.mobile #toolbar_bottom {
    display: none;
}

.arrow {
    display: inline-block;
    margin-left: 10px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    font-family: 'iioppi_ikonitregular', sans-serif;
}

#toolbar .arrow {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

#toolbar_bottom .arrow {
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}

@media all and (device-width: 768px) and (device-height: 1024px) {
    .page {
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    a.toolbarButton,
    a.btnClose {
        line-height: 40px;
    }
}

@media (orientation:landscape) {
    html.ipad.ios7.orphan > body {
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 672px !important;
    }
}

div#toolbar {
    left: 0px;
    height: 100%;
    width: 175px;
    /*background-image: url(images/1AB/BG_matteMeny_1A.png);*/
    background-repeat: repeat-y;
    background-size: contain;
}

.btn_toc {
    display: none;
}

.btn_instructions {
    display: none;
}

span.seperator.tools_seperator {
    display: none;
}

span.seperator.instructions_seperator {
    display: none;
}

.btn_home {
    margin-left: auto;
    margin-right: auto;
    left: auto;
    right: auto;
    width: 100%;
}

.page {
    width: calc(100% - 175px);
    height: 100%;
    top: 40px;
    left: 175px;
}

.toolbarButton > img {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.hand {
    cursor: pointer;
}

.dropdown-content.submenu li {
    color: rgba(0, 0, 0, 0.87);
    background-color: rgba(255, 255, 255, 0.63);
    margin: 1px;
}

.dropdown-content.submenu li:hover,
.dropdown-content.submenu li.active {
    background-color: rgba(214, 226, 133, 0.83);
}

.dropdown-content.submenu {
    background-color: rgba(214, 226, 133, 0);
    min-width: 75px;
    overflow-y: visible;
    margin-top: 15px;
}

.dropdown-content.submenu li>a,
.dropdown-content.submenu li>span {
    color: black;
    padding: 0;
    padding-left: 1px;
    font-size: 1rem;
}

.hidden {
    display: none!important;
}

.modal-content {
    height: 100%;
    overflow: hidden;
}

.tabContent {
    /* margin-top: 10px; */
    padding: 0px!important;
    padding-bottom: 0px!important;
}

a.toolbarButton {
    margin-top: 0vh;
}

.image > img {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-height: 90%;
}

.modal-content .row {
    margin-bottom: 0px;
    height: 100%;
}

.tabContent {
    height: 100%!important;
    overflow: hidden;
}

.image {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}

.audioPlayer {
    height: 13%;
    width: 100%;
    position: absolute;
    bottom: 0;
}

.disabled {
    cursor: default!important;
    pointer-events: none;
}

.disabled > img {
    cursor: default!important;
}

.overlay {
    background-image: url(../lib/images/1B.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
}

.lean-overlay {
    background: #d3d3d3;
    opacity: 1 !important;
}
  
@media (device-width: 1024px) and (device-height: 768px) {
    div#toolbar {
        width: 140px;
    }
}

@media (device-width: 1280px) and (device-height: 720px) {
    div#toolbar {
        width: 155px;
    }
}

@media (device-width: 1280px) and (device-height: 960px) {
    div#toolbar {
        width: 195px;
    }
}

@media (device-width: 1280px) and (device-height: 1024px) {
    div#toolbar {
        width: 195px;
    }
}
@media (device-width: 1280px) and (device-height: 1050px) {
    div#toolbar {
        width: 230px;
    }
}
@media (device-width: 1366px) and (device-height: 768px) {
    div#toolbar {
        width: 168px;
    }
}
@media (device-width: 1600px) and (device-height: 1200px) {
    div#toolbar {
          width: 270px;
    }
    
}
@media (device-width: 1680px) and (device-height: 1050px) {
    div#toolbar {
        width: 230px;
    }
    
}

@media (device-width: 1920px) and (device-height: 1080px) {
    div#toolbar {
        width: 240px;
    }
}
@media (device-width: 1920px) and (device-height: 1200px) {
    div#toolbar {
        width: 240px;
    }
}


/* ----------- iPad 3 and 4 ----------- */


/* Portrait and Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {}


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    div#toolbar {
        width: 100px;
        height: 63%;
    }
    .overlay {
        height: 63%;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    div#toolbar {
        width: 140px;
    }
}


#toggler label.active {
    color: #A2BD30;
}