@font-face {
    font-family: UusiTekstausMajema;
    src: url('fonts/UusiTekstausMajema.otf');
}

@font-face {
    font-family: UusiTekstausMajema;
    font-weight: Bold;
    src: url('fonts/UusiTekstausMajema-Bold.otf');
}

@font-face {
    font-family: Myriad Pro;
    src: url('fonts/MyriadPro-Regular.otf');
}

@font-face {
    font-family: Myriad Pro;
    font-weight: bold;
    src: url('fonts/MyriadPro-Bold.otf');
}

@font-face {
    font-family: MyriadPro-Semibold;
    src: url('fonts/MyriadPro-Semibold.otf');
}

@font-face {
    font-family: Epic Awesomeness;
    font-weight: bold;
    src: url('fonts/EpicAwesomeness.otf');
}

@font-face {
    font-family: Epic Awesomeness;
    font-weight: bold;
    src: url('fonts/EpicAwesomeness.ttf');
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/web-fonts/MyriadPro-Regular.eot');
    src: url('fonts/web-fonts/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'), url('fonts/web-fonts/MyriadPro-Regular.woff') format('woff'), url('fonts/web-fonts/MyriadPro-Regular.ttf') format('truetype'), url('fonts/web-fonts/MyriadPro-Regular.svg#epicawesomenessmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('fonts/web-fonts/MyriadPro-Bold.eot');
    src: url('fonts/web-fonts/MyriadPro-Bold.eot?#iefix') format('embedded-opentype'), url('fonts/web-fonts/MyriadPro-Bold.woff') format('woff'), url('fonts/web-fonts/MyriadPro-Bold.ttf') format('truetype'), url('fonts/web-fonts/MyriadPro-Bold.svg#epicawesomenessmedium') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Semibold';
    src: url('fonts/web-fonts/MyriadPro-Semibold.eot');
    src: url('fonts/web-fonts/MyriadPro-Semibold.eot?#iefix') format('embedded-opentype'), url('fonts/web-fonts/MyriadPro-Semibold.woff') format('woff'), url('fonts/web-fonts/MyriadPro-Semibold.ttf') format('truetype'), url('fonts/web-fonts/MyriadPro-Semibold.svg#epicawesomenessmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UusiTekstausMajema';
    src: url('fonts/web-fonts/uusitekstausmajema-webfont.eot');
    src: url('fonts/web-fonts/uusitekstausmajema-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/web-fonts/uusitekstausmajema-webfont.woff2') format('woff2'), url('fonts/web-fonts/uusitekstausmajema-webfont.woff') format('woff'), url('fonts/web-fonts/uusitekstausmajema-webfont.ttf') format('truetype'), url('fonts/web-fonts/uusitekstausmajema-webfont.svg#uusitekstausmajemaregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'UusiTekstausMajema';
    src: url('fonts/web-fonts/uusitekstausmajema-bold-webfont.eot');
    src: url('fonts/web-fonts/uusitekstausmajema-bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/web-fonts/uusitekstausmajema-bold-webfont.woff2') format('woff2'), url('fonts/web-fonts/uusitekstausmajema-bold-webfont.woff') format('woff'), url('fonts/web-fonts/uusitekstausmajema-bold-webfont.ttf') format('truetype'), url('fonts/web-fonts/uusitekstausmajema-bold-webfont.svg#uusitekstausmajemabold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Epic Awesomeness';
    src: url('fonts/web-fonts/epicawesomeness-webfont.eot');
    src: url('fonts/web-fonts/epicawesomeness-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/web-fonts/epicawesomeness-webfont.woff2') format('woff2'), url('fonts/web-fonts/epicawesomeness-webfont.woff') format('woff'), url('fonts/web-fonts/epicawesomeness-webfont.ttf') format('truetype'), url('fonts/web-fonts/epicawesomeness-webfont.svg#epicawesomenessmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}


html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    -webkit-overflow-scrolling: no;
    -ms-touch-action: none;
}

#container {
    width: 100%;
    height: 100%;
}

#canvas {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    display: block;
}

#buttons {
    font-size: 15px;
    position: absolute;
    right: .66em;
    top: 0em;
}

#buttons a {
    margin-left: .266em;
    vertical-align: bottom;
}

.button,
.btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0;
    background-color: #198FC2;
    transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-touch .button:not(.disabled):not(.selected):not(.closeB):hover,
.button:not(.disabled):not(.selected):not(.closeB).hover,
.no-touch .btn:not(.disabled):not(.selected):not(.closeB):hover,
.btn:not(.disabled):not(.selected):not(.closeB).hover {
    background-color: #0D5688;
}

.button.disabled,
.btn.disabled {
    cursor: default;
    background-color: #ccc;
}

.button.selected,
.btn.selected {
    background-color: #ff0000;
}

.button {
    font-family: 'myriad-pro', 'Myriad Pro', sans-serif;
    font-size: 15px;
    /*font-weight: bold;*/
    padding: 0 .66em;
    line-height: 2.33em;
    min-width: 2.33em;
    border-radius: 8%;
}

.btn {
    font-family: 'iioppi_ikonitregular', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    line-height: 1.75em;
    min-width: 1.75em;
}

.navigation {
    position: absolute;
    top: 50%;
    margin-top: -.85em;
    display: none;
    border-radius: 50%;
}

.navigate_prev {
    left: .5em;
}

.navigate_next {
    right: .5em;
}

#buttons .button.navigate_spread {
    margin-left: .4em;
}

.hidden {
    display: none!important;
}

.exercise {
    display: block;
}
