/* Tab Content - menucool.com */

.modal {
    padding: 0px 0 0px;
    /* margin:0; */
    font-size: normal list-style-type: none;
    text-align: left;
    /*set to left, center, or right to align the tabs as desired*/
    background: #fff;
    /* border:1px solid #CCC; */
    /* border-bottom:none; */
    border: 4px solid #A2BD30;
    /* border-bottom: none; */
    border-radius: 2px 2px 0 0;
    max-width: 92%;
    width: 92%;
    height: 92%;
    max-height: 92%;
    top: 4% !important;
    overflow: visible;
}

.tabs {
    background: #DDDDE3;
    border-bottom: 3px solid #D2D2CE;
}

.pad0 {
    padding: 0px !important;
}

.tabs .tab a {
    color: #000000;
    text-transform: none;
}


/*.tabs .tab a:hover {
    color: #5DBCEA!important;
}*/

.tabs .indicator {
    display: none;
}

.tabs .tab a.active {
    color: #000000;
    border-left: 3px solid #D2D2CE;
    border-right: 3px solid #D2D2CE;
    /* border-top-left-radius: 18px; */
    /* border-top-right-radius: 18px; */
    background-color: #fff;
    /* text-transform: none; */
}

.clsButton {
    position: absolute;
    top: -22px;
    right: -21px;
    width: 55px;
    height: 55px;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -9px;
    font-family: cursive;
    line-height: 1;
    color: #6C7243;
    text-align: center;
    /* z-index: 1; */
    background-image: url("../images/BtnClose.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#buttons {
    font-size: 15px;
    position: absolute;
    right: 1em;
    bottom: 1em;
}

#buttons a {
    margin-left: .266em;
    vertical-align: bottom;
}

.button,
.btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    text-align: center;
    margin: 0;
    background-color: #198FC2;
    transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -moz-transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -webkit-transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -o-transition: background-color .25s ease-in-out, border .25s ease-in-out, color .25s ease-in-out;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.button.disabled,
.btn.disabled {
    cursor: default;
    background-color: #ccc;
}

.button.selected,
.btn.selected {
    background-color: #ff0000;
}

.button {
    font-family: 'myriad-pro', 'Myriad Pro', sans-serif;
    font-size: 15px;
    /*font-weight: bold;*/
    padding: 0 .66em;
    line-height: 2.33em;
    min-width: 2.33em;
    border-radius: 5%;
}

.btn {
    font-family: 'iioppi_ikonitregular', sans-serif;
    font-size: 20px;
    font-weight: normal;
    padding: 0;
    line-height: 1.75em;
    min-width: 1.75em;
}

.col.s12.pad0.tabList {
    display: inline-block;
    height: 48px;
}

.contentTabs {
    height: calc(100% - 50px);
    width: 100%;
    position: relative;
    display: inline-block;
}

.slider {
    height: 100% !important;
}

.slider .slides {
    background-color: white !important;
}

.slides {
    height: 100% !important;
}

.slider .indicators {
    right: inherit;
    z-index: 2;
    bottom: 0.5em;
}

.slider .indicators .indicator-item {
    background-color: #ccc;
}

.section1.active,
.section1:hover {
    color: #65AFC5 !important;
}

.section2.active,
.section2:hover {
    color: #A2BD30 !important;
}

.section3.active,
.section3:hover {
    color: #d67f32 !important;
}

.section4.active,
.section4:hover {
    color: #8E83B2 !important;
}

.section5.active,
.section5:hover {
    color: #BE0075 !important;
}

.noLeftBorder a {
    border-left: none !important;
}

.noRightBorder a {
    border-right: none !important;
}

.toggleBtn {
    left: 239px;
    position: absolute;
    background-image: url("../images/pilLeftToggle.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 160px;
    width: 9.5%;
}

.toggled {
    background-image: url("../images/pilRightToggle.png");
}

.toolbarToggled {
    left: -239px !important;
}

.pageToggled {
    left: 7% !important;
}

#modalLarandemal {
    top: 20% !important;
    width: 60%;
    height: 60%;
}

@media (device-width: 1024px) and (device-height: 768px) {
    .clsButton {
        width: 29px;
        top: -15px;
        right: -14px;
    }
    .toggleBtn {
        left: 156px;
    }
    .toolbarToggled {
        left: -156px !important;
    }
    .ieedge .toggleBtn {
        left: 156px;
    }
    .ieedge .toolbarToggled {
        left: -156px !important;
    }
}

@media (device-width: 1280px) and (device-height: 720px) {
    .clsButton {
        width: 29px;
        top: -15px;
        right: -14px;
    }
    .toggleBtn {
        left: 143px;
    }
    .toolbarToggled {
        left: -143px !important;
    }
    .ieEdge .toggleBtn {
        left: 155px;
    }
    .ieEdge .toolbarToggled {
        left: -155px !important;
    }
    /*@-moz-document url-prefix() {
        .toggleBtn {
            left: 143px;
        }

        .toolbarToggled {
            left: -143px !important;
        }
    }*/
}

@media (device-width: 1280px) and (device-height: 800px) {
    .clsButton {
        width: 33px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 176px;
    }
    .toolbarToggled {
        left: -176px !important;
    }
    .ieedge .toggleBtn {
        left: 174px;
    }
    .ieedge .toolbarToggled {
        left: -174px !important;
    }
}

@media (device-width: 1280px) and (device-height: 960px) {
    .clsButton {
        width: 33px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 205px;
    }
    .toolbarToggled {
        left: -205px !important;
    }
    .ieedge .toggleBtn {
        left: 195px;
    }
    .ieedge .toolbarToggled {
        left: -195px !important;
    }
}

@media (device-width: 1280px) and (device-height: 1024px) {
    .clsButton {
        width: 33px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 221px;
    }
    .toolbarToggled {
        left: -221px !important;
    }
    .ieedge .toggleBtn {
        left: 195px;
    }
    .ieedge .toolbarToggled {
        left: -195px !important;
    }
    .aligncenter {
        width: 68% !important;
        padding: 17px !important;
    }
}

@media (device-width: 1280px) and (device-height: 1050px) {
    .clsButton {
        width: 33px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 229px;
    }
    .toolbarToggled {
        left: -229px !important;
    }
    .ieedge .toggleBtn {
        left: 229px;
    }
    .ieedge .toolbarToggled {
        left: -229px !important;
    }
}


/*1366 X 768*/

@media (device-width: 1366px) and (device-height: 768px) {
    .clsButton {
        width: 33px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 161px;
    }
    .toolbarToggled {
        left: -161px !important;
    }
    .ieedge .toggleBtn {
        left: 161px;
    }
    .ieedge .toolbarToggled {
        left: -161px !important;
    }
    .aligncenter {
        width: 58% !important;
        padding: 5px !important;
    }
}

@media (device-width: 1440px) and (device-height: 900px) {
    .clsButton {
        width: 40px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 176px;
    }
    .toolbarToggled {
        left: -176px !important;
    }
    .ieedge .toggleBtn {
        left: 174px;
    }
    .ieedge .toolbarToggled {
        left: -174px !important;
    }
    .aligncenter {
        width: 59% !important;
        padding: 14px !important;
    }
}

@media (device-width: 1600px) and (device-height: 900px) {
    .clsButton {
        width: 40px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 192px;
    }
    .toolbarToggled {
        left: -192px !important;
    }
    .ieedge .toggleBtn {
        left: 193px;
    }
    .ieedge .toolbarToggled {
        left: -193px !important;
    }
    .aligncenter {
        width: 53% !important;
        padding: 14px !important;
    }
}

@media (device-width: 1680px) and (device-height: 1050px) {
    .clsButton {
        width: 40px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 231px !important;
    }
    .toolbarToggled {
        left: -231px !important;
    }
    .ieedge .toggleBtn {
        left: 230px !important;
    }
    .ieedge .toolbarToggled {
        left: -230px !important;
    }
    .aligncenter {
        width: 53% !important;
        padding: 14px !important;
    }
}


/*1600 X 1200*/

@media (device-width: 1600px) and (device-height: 1200px) {
    .clsButton {
        width: 40px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 269px;
    }
    .toolbarToggled {
        left: -269px !important;
    }
    .ieedge .toggleBtn {
        left: 174px;
    }
    .ieedge .toolbarToggled {
        left: -174px !important;
    }
}

@media (device-width: 1920px) and (device-height: 1200px) {
    .clsButton {
        width: 40px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 259px;
    }
    .toolbarToggled {
        left: -259px !important;
    }
    .ieedge .toggleBtn {
        left: 259px
    }
    .ieedge .toolbarToggled {
        left: -259px !important;
    }
}

@media (device-width: 2560px) and (device-height: 1440px) {
    .clsButton {
        width: 40px;
        top: -17px;
        right: -15px;
    }
    .toggleBtn {
        left: 333px;
        height: 196px;
    }
    .toolbarToggled {
        left: -333px !important;
    }
    .slider .indicators {
        bottom: 1.4em;
    }
     .aligncenter {
          width: 33% !important;
        padding: 44px !important;
    }
    .button{
        line-height: 3.33em;
    }
    
}


/*Ipad 3&4*/


/* Portrait */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {
    .toggleBtn {
        left: 101px;
    }
    .toolbarToggled {
        left: -101px !important;
    }
}


/* Landscape */

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    .toggleBtn {
        left: 141px;
    }
    .toolbarToggled {
        left: -141px !important;
    }
}
